<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948633138269-t8p09qgdb7i1dqoj8ref8fq5nk3lfjpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948633138269-t8p09qgdb7i1dqoj8ref8fq5nk3lfjpk</string>
	<key>API_KEY</key>
	<string>AIzaSyBF7qNk4VMSKLwpMVTg1NjJpJWM57jtCGg</string>
	<key>GCM_SENDER_ID</key>
	<string>948633138269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.babyborn</string>
	<key>PROJECT_ID</key>
	<string>babyborn-2ec66</string>
	<key>STORAGE_BUCKET</key>
	<string>babyborn-2ec66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948633138269:ios:e258451072ce2c97</string>
	<key>DATABASE_URL</key>
	<string>https://babyborn-2ec66.firebaseio.com</string>
</dict>
</plist>